.wrapper

=render 'devise/shared/side_bar'

.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group title   
      .main-header__left-box__member-list
        Member:
        .main-header__left-box__member-list__member tak
    .main-header__edit-btn Edit
  .message
    .message__upper-info
      %p.message__upper-info__talker tak
      %p.message__upper-info__date 2019/10/29(Tue) 13:10:28
    .message__text ã‚ã‚
  .form   
    %form.new_message
      .input-box
        %input.input-box__text{placeholder: "type a message", type: "text"}
        %label.input-box__image{for: "message_image"}
          %i.fa.fa-image
          %input.input-box__image__file{type: "file", name: "message[image]", id: "message_image"}
      %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/

