
* {
  box-sizing: border-box;
}

.wrapper{
  padding: 0;
  margin: 0;
  
}
.chat-side{  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 300px;
  color: white;
  float: left;
}

.side-header{
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.contents__btn{
  justify-content: space-between;
}

.groups{
  box-sizing: border-box;
  margin: 0;
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  display:block;
}

.chat-main{
  width: calc(100vw - 300px);
  float: left;
}

.main-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  overflow: scroll;
  &__left-box{
    margin-top: 35px;
    display: block;
    &__current-group{
      font-size: 20px;
      color: #333;
      margin-bottom: 15px;
    }
    &__member-list{
      display: flex;
      font-size: 12px;
      color: #999999;
      list-style: none;
      &__member{
        display: list-item;
      }
    }
  }
  &__edit-btn{
    color: #38aef0;
    box-sizing: border-box;
    margin: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
  }
}

.message{
  color: #000;
  box-sizing: border-box;
  margin: 0;
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
  &__upper-info{
    display: flex;
    margin-bottom: 10px;
    &__talker{
      color: #434a54;
      font-size: 16px;
      font-weight: bold;
    }
    &__date{
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
    }
  }
  &__text{
    color: #434a54;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.form{
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
}

.new_message{
  display: flex;
}

.input-box{
  width: 100%;
  position: relative;
  &__text{
    height: 50px;
    padding: 0 40px 0 10px;  
    color: #434a54;
    border-style: none;
    width: 100%;
  }
  &__image{
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    &__file{
      display: none;
    }
  }
}

.submit-btn{
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #38aef0;
  color: white;
  cursor: pointer;
  float: right;
}